body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/img/foudubus/fond/Map1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: flex-start; /* Aligne en haut */
}


#game {
    position: relative;
    width: 100vw;
    height: 130vh;
    box-sizing: border-box;
    margin-top: 20px; /* Espacement entre le formulaire et le jeu */
}
#player1-ko img,
#player2-ko img {
    /* Ajoutez ici les styles que vous souhaitez appliquer à l'image */
    width: 100%; /* L'image occupera 100% de la largeur de son conteneur */
    height: 100%; /* L'image occupera 100% de la hauteur de son conteneur */
    object-fit: contain; /* Assure que l'image est entièrement visible dans le conteneur */
    transition: opacity 0.3s ease; /* Ajoute une transition d'opacité */
}

#player1-ko:hover img,
#player2-ko:hover img {
    opacity: 0.8; /* Réduit légèrement l'opacité au survol */
}

/* Vous pouvez également ajouter des animations si vous le souhaitez */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#player1-ko img,
#player2-ko img {
    animation: fadeIn 0.5s ease-in-out; /* Applique une animation de fondu à l'image */
}
.player {
    display: block;
    position: absolute;
    width: 300px;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: opacity 0.2s ease;
    margin-top: 8%;
    left: 0;
    /*transition: transform 0.1s ease, opacity 0.2s ease;*/
}
h1 {
    text-align: center; /* Centre le titre */
    font-family: 'Arial', sans-serif; /* Police de caractères */
    font-size: 3em; /* Taille du texte */
    color: #fff; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre du texte */
    margin-top: 30px; /* Espace au-dessus du titre */
    margin-bottom: 20px; /* Espace en dessous du titre */
}
h2 {
    text-align: center; /* Centre le titre */
    font-family: 'Arial', sans-serif; /* Police de caractères */
    font-size: 1.5em; /* Taille du texte */
    color: #fff; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre du texte */
    margin-top: 30px; /* Espace au-dessus du titre */
    margin-bottom: 20px; /* Espace en dessous du titre */
}
#name-input {
    text-align: center; /* Centre le contenu du formulaire */
    margin-top: 50px; /* Espace au-dessus du formulaire */
}

#player-name {
    padding: 10px; /* Espace intérieur */
    font-size: 1.2em; /* Taille du texte */
    border: 2px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    width: 300px; /* Largeur du champ de saisie */
    max-width: 80%; /* Largeur maximale pour les petits écrans */
    outline: none; /* Supprime la bordure bleue au focus */
    transition: border-color 0.3s ease; /* Animation de la bordure */
}

#player-name:focus {
    border-color: #007BFF; /* Changement de couleur de la bordure au focus */
}
#submit-name {
    padding: 10px 20px; /* Espace intérieur */
    font-size: 1.2em; /* Taille du texte */
    color: #fff; /* Couleur du texte */
    background-color: #007BFF; /* Couleur de fond */
    border: none; /* Supprime la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur en pointeur */
    margin-left: 10px; /* Espace à gauche du bouton */
    transition: background-color 0.3s ease; /* Animation de la couleur de fond */
}

#submit-name:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}

#submit-name:active {
    background-color: #004080; /* Changement de couleur au clic */
}
#map-selection {
    text-align: center;
    margin-top: 20px;
}

#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#map-image {
    width: 600px; /* Taille de l'image de la map */
    height: 400px;
    border: 5px solid #ccc;
    border-radius: 10px;
    object-fit: cover; /* Ajuste l'image sans déformation */
    margin: 0 20px;
}

#prev-map, #next-map {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#prev-map:hover, #next-map:hover {
    background-color: #0056b3;
}

#confirm-map {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color:#0056b3 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Styles pour le sélecteur de personnage */
#character-selection {
    text-align: center;
    margin-top: 50px; /* Augmenter la marge en haut */
}

.character-options {
    display: flex;
    justify-content: center;
    gap: 40px; /* Augmenter l'espace entre les options */
    margin: 40px 0; /* Augmenter la marge */
}

.character-option {
    cursor: pointer;
    border: 3px solid transparent; /* Augmenter l'épaisseur de la bordure */
    border-radius: 15px; /* Arrondir davantage les coins */
    padding: 20px; /* Augmenter le padding */
    transition: border-color 0.3s ease, transform 0.3s ease;
    background-color: grey;
}

.character-option:hover {
    border-color: #007BFF;
    transform: scale(1.1); /* Augmenter l'effet de zoom au survol */
}

.character-option img {
    width: 250px; /* Augmenter la taille de l'image */
    height: 250px; /* Augmenter la taille de l'image */
    object-fit: contain;
}

.character-option p {
    margin-top: 20px; /* Augmenter l'espace entre l'image et le texte */
    font-size: 1.8em; /* Augmenter la taille du texte */
    color: #fff;
    font-weight: bold; /* Rendre le texte plus gras */
}

#confirm-character {
    padding: 15px 30px; /* Augmenter le padding du bouton */
    font-size: 1.5em; /* Augmenter la taille du texte du bouton */
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 10px; /* Arrondir davantage les coins */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px; /* Augmenter l'espace au-dessus du bouton */
}

#confirm-character:hover {
    background-color: #218838;
}

#confirm-map:hover {
    background-color: #218838;
}
/* Classes pour Foudubus */
#player1 {
    background-image: url('/assets/img/foudubus/to-left/toleft-foudubus-classique-1.svg');
}

#player1.classique2 {
    background-image: url('/assets/img/foudubus/to-left/toleft-foudubus-classique-2.svg');
}

#player1.attacking1 {
    background-image: url('/assets/img/foudubus/to-left/toleft-foudubus-attaque-1.svg');
}

#player1.attacking2 {
    background-image: url('/assets/img/foudubus/to-left/toleft-foudubus-attaque-2.svg');
}

#player1.attacking3 {
    background-image: url('/assets/img/foudubus/to-left/toleft-foudubus-attaque-3.svg');
}

#player2 {
    background-image: url('/assets/img/foudubus/to-right/toright-foudubus-classique-1.svg');
}

#player2.classique2 {
    background-image: url('/assets/img/foudubus/to-right/toright-foudubus-classique-2.svg');
}

#player2.attacking1 {
    background-image: url('/assets/img/foudubus/to-right/toright-foudubus-attaque-1.svg');
}

#player2.attacking2 {
    background-image: url('/assets/img/foudubus/to-right/toright-foudubus-attaque-2.svg');
}

#player2.attacking3 {
    background-image: url('/assets/img/foudubus/to-right/toright-foudubus-attaque-3.svg');
}

/* Classes pour Smehlee */
#player1.smehlee {
    background-image: url('/assets/img/smehlee/to-left/toleft-smehlee-classique-1.svg');
}

#player1.smehlee.classique2 {
    background-image: url('/assets/img/smehlee/to-left/toleft-smehlee-classique-2.svg');
}

#player1.smehlee.attacking1 {
    background-image: url('/assets/img/smehlee/to-left/toleft-smehlee-attaque-1.svg');
}

#player1.smehlee.attacking2 {
    background-image: url('/assets/img/smehlee/to-left/toleft-smehlee-attaque-2.svg');
}

#player1.smehlee.attacking3 {
    background-image: url('/assets/img/smehlee/to-left/toleft-smehlee-attaque-3.svg');
}

#player1.smehlee.idle {
    background-image: url('/assets/img/smehlee/to-left/toleft-smehlee-idle.svg');
}

#player2.smehlee {
    background-image: url('/assets/img/smehlee/to-right/toright-smehlee-classique-1.svg');
}

#player2.smehlee.classique2 {
    background-image: url('/assets/img/smehlee/to-right/toright-smehlee-classique-2.svg');
}

#player2.smehlee.attacking1 {
    background-image: url('/assets/img/smehlee/to-right/toright-smehlee-attaque-1.svg');
}

#player2.smehlee.attacking2 {
    background-image: url('/assets/img/smehlee/to-right/toright-smehlee-attaque-2.svg');
}

#player2.smehlee.attacking3 {
    background-image: url('/assets/img/smehlee/to-right/toright-smehlee-attaque-3.svg');
}
#status {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
}

.player1-status {
    color: green; /* Couleur pour le joueur 1 */
}

.player2-status {
    color: red; /* Couleur pour le joueur 2 */
}

#victory-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000; /* S'assurer que le message est au-dessus de tout */
    font-size: 2em;
}
.ko-image {
    width: 30%;
    height: 20%;
    display: none;
    position: absolute;
    margin-top: 25%;
    margin-left: 20%;
    transform: translate(-50%, -50%);
}
